/*** Blog Arayüz Tema ***/

.yazi > p > img{ /** CKeditor Görseli İçin **/
	max-width: 100%;
}

.yazi > .resimortala { /** Xcrud Görseli İçin **/
	padding: 0px 20%;
	padding-bottom: 10px;
	text-align: center;
}
.yazi > .resimortala> img{ /** Xcrud Görseli İçin **/
	max-width: 90%;
}

.icerikbaslik{
	border-bottom:3px dotted #e8e8e8;
	font-size:16px;
	font-weight: bold;
}

.blogpost{
	padding: 5px;
	background: #f9f9f9;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #f9f9f9;
	margin-bottom: 15px;
}

.blogpost:hover{
	background: #f2f2f2;
}