
.icerikalani
{
	overflow:hidden;
}

.sabitsayfaic
{
    padding: 0;
    margin: 0;
}

.sabitsayfaic p{
    text-indent: 18px;
}

.listmenu,
.listmenu li
{
    padding: 0;
    margin: 0;
    list-style: none;    
}

.listmenu li a
{
    display: block;
    padding: 5px;
    border-bottom: 1px solid #eee;
}


@font-face {
	font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

html, body{
	font-family: 'Exo';
	margin: 0;
	padding: 0;
}

/***** GENEL *****/

.linewhite {
    height: 7px;
    background: url(../img/borderbaslik.png);
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: center 0;
}

.baslikanasayfa {
    text-align: center;
    color: #363839;
    font-size: 30px;
    font-weight: bold;
}

.linered {
    height: 7px;
    background: url(../img/borderbaslik_kirmizi.png);
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: center 0;
}

.linemavi{
    height: 7px;
    background: url(../img/borderbaslik_mavi.png);
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: center 0;
}

.basliksekilsiyah {
    background: url(../img/basliksekilsiyah.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}


/***** HEADER ALANI *****/

.headerust{
    background-color:rgba(200, 200, 200, 0.1);
}

.headerust a{
    color: #7c7c7c;
}

.uyeislemleri > li > a > i{
    color: #3fa962;
}

.uyeislemleri {
	margin-bottom: 0;        
}

.uyeislemleri li{
	padding: 6px;
	float:left;
	font-size:15px;
}

.uyeislemleri li:hover{
    background-color:rgba(255, 255, 255, 0.9);
	outline:1px dashed green;
	outline-radius:5px;
}

.logo{
	width:100%;
}

.logoalani{
	
	padding:7px 0 7px 0;
	background:#3a3a3a;
}

@media screen and (max-width:768px){
	.uyeislemleri{
		font-size: 13px;
		margin-left: 0px;
	}
}


/***** MENÜ ALANI *****/
.icerikslider{
  /* background-color: #8C0A1E; */
  /* Sayfalara özel CSS dosyaları içinde her tema/sayfaya göre özelleştirilebilir */
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default {
    background-image: url('../img/navmenubg.png');
	background-size:cover;
    border-color: #BF8D65;
	padding-left:5%;
}

.navbar-default .navbar-nav>li{
	border-right:1px solid #d1b28c;
}

.navbar-default .navbar-nav>li>a{
	font-size:13px;
	color:black;
	font-weight:bold;
	padding-left:7px;
	padding-right:7px;
}

.navbar-default .navbar-nav>li>a:hover {
	color:gold;
	background-color: black;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: gold;
    background-color: transparent;
}

/** MOBILE NAV. **/
@media screen and (max-width:990px){
	.navbar-collapse {
		font-size:14px;
		padding:0;
	}
}

@media screen and (max-width:768px){
	.navbar-collapse {
		font-size:16px;
		padding:15px;
	}
	
	
	 .navbar-default {
		background-image:none;
		border-color: #E0B690;
	}
}


#owl-demo .item img{ /* SLİDER */
    width: 100%;
    height: auto;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: green !important;
}

/***** ÜRÜNLERİMİZ ALANI *****/
.urunlerimiz{
	padding-bottom: 40px;
}

.urunlerimiz h4{
	color: #660000;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
}

.urunlerimiz .container .col-md-4{
    margin-bottom: 20px;
}

.urun{
-webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0, 0.7);
-moz-box-shadow: 5px 5px 5px 5px  rgba(0,0,0, 0.7);
box-shadow:  5px 5px 5px 5px rgba(0,0,0, 0.7);
}


.urun:hover{
outline: 5px solid orange;
}


.urunadi{
    text-align:center;
    position: absolute;
    color:black;
    font-size: 15px;
    padding: 10px;
    background: orange;
    width: 100%;
	border-bottom:1px solid gray;
}

.urunv1 {
    outline: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 7px;
    margin-top: 10px;
}

.urunv1:hover {
    border-radius: 0;
    /* padding: 0; */
    /* margin-bottom: 7px; */
    /* margin-top: 10px; */
    /* transform: scale(1.04); */
    background: black;
}

/* üzerine gelince zoom olan
.urunv1{
	border:1px solid #e5e5e5;
	border-radius:5px;
	padding:5px;
	margin-bottom:7px;
	margin-top:10px;
	transition: all 400ms;
}

.urunv1:hover{
	border:4px solid black;
	padding:0;
	margin-bottom:7px;
	margin-top:10px;
	transform: scale(1.04);
	background:#e5e5e5;
}
*/

.urunv1ad{
	padding:12px 0 12px 10px;
	font-size:18px;
	background:#f5f5f5;
	border-radius:0 0 5px 5px;
	color: black;
	font-weight:bold;
}

.gorsel{
	background-color: black;
	text-align: center;
	font-weight: bold;
}

.urunaciklama1{
	background-color: #cccccc;
	text-align: center;
	font-weight: bold;
}

.urunaciklama2{
	background-color: #999999;
	font-weight: bold;
	text-align: center;
}

.menu-image{
  text-align: center;
}

.menu-item{
  text-align: center;
  height: 20px;
  margin-bottom: 25px;
}

.menu-item-link:hover{
  -webkit-filter: blur(0px) brightness(1.1) contrast(1.1) grayscale(0.1) hue-rotate(0deg) invert(0.1) opacity(100%) saturate(5) sepia(0.5) drop-shadow(0px 0px 5px #000)
}



/***** VİTRİN *****/
.vitrin-urun{
    border:1px solid black;
  }

.vitrin-baslik{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.vitrin-tanitim{
    padding:10px;
    padding-left:20px;
}

.vitrin {
  padding: 0 0 25px;
}


.vitrin-cerceve{
    border:1px solid gray;
}

.vitrin-cerceve:hover{
    -webkit-box-shadow: 5px 5px 2px 2px rgba(0,0,0, 0.5);
	-moz-box-shadow: 	5px 5px 2px 2px rgba(0,0,0, 0.5);
	box-shadow:  		5px 5px 2px 2px rgba(0,0,0, 0.5);
}


.vitrin-satis{
    color: white;
    padding: 10px;
    background-color: #26a853;
}

.inputbtn {
    border: 1px solid white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background: transparent;
    color: white;
}

.inputbtn:hover {
    background: white;
    color: #26a853;
}


/*** DEFAULT VİTRİN AYARLARI ***/

a {
  color: #23bab5;
}

ul {
  list-style-type: none;
}

/*
.vitrin-stili-komple {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
  webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 30px 50px;
  margin-bottom: 20px;
}
*/

article[role="vitrin-stili"] {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6), 0 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 1px 5px rgba(0, 0, 0, 0.12);
  webkit-transition: all 200ms cubic-bezier(0.2, 0, 0.2, 1);
  transition: all 200ms cubic-bezier(0.2, 0, 0.1, 1);
  padding: 30px 0 50px 0;
  margin-bottom: 20px;
}

article[role="vitrin-stili"] input[type="submit"] {
  padding: 10px 15px;
  font-size: 16px;
}

article[role="vitrin-stili"] h3 {
  font-size: 26px;
  font-weight: 300;
  color: #23bab5;
  margin-bottom: 20px;
}

article[role="vitrin-stili"] p {
  padding: 2px;
}

.nav-tab-holder {
    padding: 0 0 0 30px;
    width: 100%;
}

.nav-tab-holder .nav-tabs {
  border: 0;
  float: none;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.nav-tab-holder .nav-tabs > li {
  margin-bottom: -3px;
  text-align: center;
  padding: 0;
  display: table-cell;
  float: none;
  padding: 0;
}

.nav-tab-holder .nav-tabs > li > a {
  background: #d9d9d9;
  color: #6c6c6c;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.nav-tab-holder .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #FFF;
  background-color: #23bab5;
  border: 0;
  border-radius: 0;
}

.mobile-pull {
  float: right;
}

article[role="manufacturer"] {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
  padding: 0 0 40px;
  max-width: 420px;
  margin: -45px auto 0;
}

article[role="manufacturer"] header {
  background: #23bab5;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
}

article[role="manufacturer"] h1 {
  font-size: 26px;
  font-weight: 300;
  border-bottom: 1px solid #f2f2f2;
  padding: 25px 15px;
}

article[role="manufacturer"] ul {
  padding: 0 25px;
}

article[role="manufacturer"] ul li {
  font-size: 16px;
  border-bottom: 1px solid #eaeaea;
  padding: 20px 15px;
  color:#404040;
}

article[role="manufacturer"] ul li i {
  color: #23bab5;
}

.vitrin {
  padding: 0 0 25px;
}

@media only screen and (max-width: 767px) {
  .mobile-pull {
    float: none;
  }

  .nav-tab-holder {
    float: none;
    overflow: hidden;
  }

  .nav-tabs > li > a {
    font-size: 13px;
    font-weight: 600;
    padding: 10px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nav-tabs > li {
    width: 50%;
  }
}


/***** FIRSAT ÜRÜNLERİ *****/
/* @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css); */
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

/***** MAIL LİSTESİ *****/
.announcements {
    position: absolute;
    width: 346px;
    height: 38px;
    right: 0px;
    top: 190px;
    border: solid 1px #ffffff;
}

.announcementsInput {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    height: 38px;
    box-sizing: border-box;
    margin: 0;
    padding: 9px 0 9px 15px;
}

.announcementsButton {
    width: 66px;
    height: 38px;
    background: none;
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

a, img, input {
    outline: expression(hideFocus='true');
    outline: none;
    border: 0;
    text-decoration: none;
}

/****** SEARCH BOX *********/
.searchInput {	 
	padding-left:5px;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    background-color:#eeeeee;
    height: 29px;
    /* box-sizing: border-box;
	top:5px;
    margin: -5px; */
    /* padding: 9px 0 9px 15px; */
}

.searchButton {
    width: 66px;
    height: 30px;
    background: #f5f5f5;
    border: none;
    position: absolute;
    color: gray;
    right: 4%;
    top: 19px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

/***** FOOTER *****/
.footer{
	background-color: black;
}

.footer p{
	text-align: center;
	margin-top: 10px;
	font-size: 16px;
	color: white;
}

.footer ul{
	list-style: none;
	padding-left: 15px;
	color: white;
}

.footer ul li{
	border-bottom:1px solid #191919;
	padding-bottom: 5px;
	padding-top: 5px;
}

.footer ul li:hover{
	background-color: rgba(255, 255, 255, 0.2);
}

.footer ul li a{
	color:white;
	margin-left: 2px;
}


@media(max-width:991px)
{
    .nav>li>a{
        padding: 15px 5px;
        font-size: 13px;
    }
}


.footerback
{
    background: url(../img/background-footer.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.fbaslik
{
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    background-color: gold;
    /* text-align: center; */
    padding: 3px;
}

.footermenu li{
    display: block;
    padding: 5px;
    color: #000000;
    font-size:15px;
}

.footermenu li a{
    display: block;
    padding: 5px;
    color: #000000;
    font-weight: bold;
}

.footermenu li a:hover{
    display: block;
    padding: 5px;
    color: darkred;
    font-weight: bold;
}


.footermenu,
.footermenu li{
    
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.socialmedia{
	margin-left:15px;
}

.socialmedia > a {
	float:left;
}

.socialmedia > a:hover {
	color:gold !important;
}

/***** FOOTER BİLGİ *****/
.footerinfo{
	background-color: rgba(0,0,0,0.2);
    font-size: 12px;
    color: #d5d5d5;
}

.imza {
    width: 100px;
    line-height: 28px;
}

.imza:hover{
	background:url(../img/cukurova-.png);
}
